<form action="/donations" method="post" id="payment-form">
  <p><%= @page.form.ui(:donation_type) %></p>
  <p><%= @page.form.ui(:currency) %></p>
  <p>
    <label for="amount"><%= @page.form.ui(:amount) %></label>
    <input name="amount" type="number" id="amount" min="0.00" step="0.01" required />
  </p>
  <h2><%= @page.form.ui(:giftaid_title) %></h2>
  <p><%= @page.form.ui(:giftaid_description) %></p>
  <p>
    <input id="giftaid-yes" type="radio" name="giftaid" value="yes">
    <label for="giftaid-yes"><strong><%= @page.form.ui(:giftaid_yes_title) %></strong> <%= @page.form.ui(:giftaid_yes_description) %></label>
  </p>
  <p>
    <input id="giftaid-no" type="radio" name="giftaid" value="no">
    <label for="giftaid-no"><strong><%= @page.form.ui(:giftaid_no_title) %></strong> <%= @page.form.ui(:giftaid_no_description) %></label>
  </p>
  <p><%= @page.form.ui(:payment_method) %></p>
  <p>
    <button id="submit-button" type="submit"><%= @page.form.ui(:submit_button) %></button>
  </p>
</form>

<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="<%= settings.asset_paths_generator.main_js_path %>"></script>

<script type="text/javascript">
(function() {
  var uiConfig, stripeConfig, checkoutParams;

  uiConfig = {
    formIdSelector: 'payment-form',
    submitIdSelector: 'submit-button',
    amountIdSelector: 'amount'
  };

  stripeConfig = {
    key: '<%= settings.stripe_public_key %>',
    image: '/icon.png',
    locale: 'en',
    token: UI.submitFormWithCustomFields
  };

  checkoutParams = {
    name: 'Survival International',
    description: '<%= @page.form.ui(:stripe_description) %>',
    currency: 'GBP',
    billingAddress: true,
    zipCode: true
  };

  UI.setup(uiConfig);
  StripeWrapper.setup(UI, stripeConfig, checkoutParams);
  StripeWrapper.registerListeners();
})();
</script>
