<div class="main-section-top">
  <div class="donation-thanks">
    <%= @page.title %>
  </div>

  <img
    src="<%= @page.image_url %>"
    width="<%= @page.ui(:image_width) %>"
    height="<%= @page.ui(:image_height) %>"
    alt="<%= @page.ui(:image_description) %>">
</div>
