<div class="main-section-top">
  <div class="donation-type">
    <div class="recurring">
      <input type="radio" class="visuallyhidden" id="recurring" name="type" value="recurring" checked>
      <label for="recurring"><%= @page.form.ui(:recurring_type) %></label>
    </div>

    <div class="one-off">
      <input type="radio" class="visuallyhidden" id="one-off" name="type" value="one-off">
      <label for="one-off"><%= @page.form.ui(:oneoff_type) %></label>
    </div>
  </div>

  <div class="donation-amount">

    <%= erb :_errors if @page.respond_to?(:error_list) %>

    <div class="currency">
      <%= @page.form.ui(:currency) %>

      <% @page.form.ui(:currencies).each do |currency| %>
      <span class="inline-option">
        <input type="radio" class="visuallyhidden" id="<%= currency[:value] %>" name="currency" value="<%= currency[:value] %>" required>
        <label for="<%= currency[:value] %>" class="currency-label"><%= currency[:label] %></label>
      </span>
      <% end %>
    </div>

    <%# erb :_tabs %>

    <div class="amount">
      <label for="amount"><%= @page.form.ui(:amount) %></label>
      <input name="amount" type="number" id="amount" min="0.00" step="0.01" required />
    </div>
  </div>
</div>
