<div class="page-top">
  <h1 class="page-title"><%= @page.title %></h1>
  <%= erb :_main_section_top_success %>
  <%= erb :_secondary_section_top %>
</div>

<div class="page-bottom">
  <%= erb :_main_section_bottom_success %>
  <%= erb :_secondary_section_bottom %>
</div>
